<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit">
	<meta property="qc:admins" content="1051105554536547046375" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="keywords" content="会员结算系统">
	<meta name="description" content="会员结算系统">

	<title>移动结算平台</title>
	<link href="__PUBLIC__/css/jquery.mobile.custom.structure.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/css/engine.css"  rel="stylesheet" />

	<script type="text/javascript" src="__PUBLIC__/js/mtopt-3.0-min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.3.min.js" ></script>
	<script type="text/javascript">
        $.browser = $.browser || {};
        $.browser.msie = false;
        $(document).on("mobileinit", function () {
            $.support.cors = true;
            $.mobile.allowCrossDomainPages = true;
            $.mobile.pushStateEnabled = false;
            $.mobile.defaultPageTransition = "slidefade";
            $.mobile.pageLoadErrorMessage = "页面加载出错";
            $.mobile.loader.prototype.options.theme = "c";
            $.mobile.buttonMarkup.hoverDelay = "false";
        });
	</script>
	<style type="text/css">
		body{background:#BDE3FA;}
		.container{padding-top:2em;}
		.form-title{font-size:2.7em;text-align:center;height:110px;margin-top:120px;}
		.form-title img{width:200px;}
		.form-control{margin-bottom:1.8em;height:2.8em;}
	</style>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.mobile.custom.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/engine.js" ></script>
</head>
<body>
<!--标题样式-->
<div class="mn-content ui-page ui-page-theme-a ui-page-active" data-role="page" data-url="/User/Deal/convert" data-external-page="true" tabindex="0" style="min-height: 257.2px;">
    <style type="text/css">
        .list-group-item .glyphicon {color: #666;margin-right: 8px;}
    </style>

<div class="list-group">
    <a class="list-group-item" href="/User/Deal/convertinside"><span class="glyphicon glyphicon-retweet"></span>奖金币转换积分</a>
    <!-- <a class="list-group-item" href="/User/Deal/convertcredit"><span class="glyphicon glyphicon-retweet"></span>奖金币转换购物币</a> -->
</div>
<script type="text/javascript">
    var pck = {
        title: "币种转换"
    }
</script>
</div>
</body>
</html>