<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit">
	<meta property="qc:admins" content="1051105554536547046375" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="keywords" content="会员结算系统">
	<meta name="description" content="会员结算系统">

	<title>移动结算平台</title>
	<link href="__PUBLIC__/css/jquery.mobile.custom.structure.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/css/engine.css"  rel="stylesheet" />

	<script type="text/javascript" src="__PUBLIC__/js/mtopt-3.0-min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.3.min.js" ></script>
	<script type="text/javascript">
        $.browser = $.browser || {};
        $.browser.msie = false;
        $(document).on("mobileinit", function () {
            $.support.cors = true;
            $.mobile.allowCrossDomainPages = true;
            $.mobile.pushStateEnabled = false;
            $.mobile.defaultPageTransition = "slidefade";
            $.mobile.pageLoadErrorMessage = "页面加载出错";
            $.mobile.loader.prototype.options.theme = "c";
            $.mobile.buttonMarkup.hoverDelay = "false";
        });
	</script>
	<style type="text/css">
		body{background:#BDE3FA;}
		.container{padding-top:2em;}
		.form-title{font-size:2.7em;text-align:center;height:110px;margin-top:120px;}
		.form-title img{width:200px;}
		.form-control{margin-bottom:1.8em;height:2.8em;}
	</style>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.mobile.custom.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/engine.js" ></script>
</head>
<body>
<!--标题样式-->
<div class="mn-content ui-page ui-page-theme-a ui-page-active" data-role="page" data-url="/User/Deal/withdrawlists" data-external-page="true" tabindex="0" style="min-height: 635.2px;">
<table class="table table-hover table-condensed">
    <tbody>
    <tr>
        <td>编号</td>
        <td>开户姓名</td>
        <td>银行卡号</td>
        <td>开户银行</td>
        <td>开户地址</td>
        <td>提现金额</td>
        <td>到账金额</td>
        <td>状态</td>
        <td>备注</td>
        <td>申请时间</td>
        <td>审核时间</td>
    </tr>
        <volist name="info" id="vv" key="kk" >
        <tr>
            <td>{$kk}</td>
            <td>{$vv.bankuser}</td>
            <td>{$vv.bankno}</td>
            <td>{$vv.bank}</td>
            <td>{$vv.bankname}</td>
            <td>{$vv.money}</td>
            <td>{$vv.arrival}</td>
            <td><if condition="($vv.status eq 1) "> 审核成功
                <elseif condition="($vv.status eq 2)"/>审核失败
                <else /> 待审核
            </if></td>
            <td>{$vv.remarks}</td>
            <td>{$vv.createtime|date='Y-m-d H:i:s',###}</td>
            <td><if condition="($vv.handletime eq 0) ">

                <else /> {$vv.handletime|date='Y-m-d H:i:s',###}
            </if></td>
        </tr>
       </volist>
    </tbody>
</table>
<ul class="pager">
       {$page}
</ul>
<!--隐藏域开始-->
<input type="hidden" class="HD_PAGE_C9A6E63997971A2A5AFBAD8D164E02ED" value="0">
<input type="hidden" class="HD_SIZE_C9A6E63997971A2A5AFBAD8D164E02ED" value="20">
<input type="hidden" class="HD_COUNT_C9A6E63997971A2A5AFBAD8D164E02ED" value="84">
<!--隐藏域结束-->
<script type="text/javascript">
    var pck = {
        title: "代理中心",
        page: 0,
        size: 0,
        count: 0,
        //加载页面
        init: function () {
            this.page = mtopt.parse.toInteger(m.node(".HD_PAGE_C9A6E63997971A2A5AFBAD8D164E02ED").value());
            this.size = mtopt.parse.toInteger(m.node(".HD_SIZE_C9A6E63997971A2A5AFBAD8D164E02ED").value());
            this.count = mtopt.parse.toInteger(m.node(".HD_COUNT_C9A6E63997971A2A5AFBAD8D164E02ED").value());
        }
    }
    pck.init()
</script>
</div>
</body>
</html>