<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="renderer" content="webkit">
	<meta property="qc:admins" content="1051105554536547046375" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="keywords" content="会员结算系统">
	<meta name="description" content="会员结算系统">

	<title>移动结算平台</title>
	<link href="__PUBLIC__/css/jquery.mobile.custom.structure.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css"  rel="stylesheet" />
	<link href="__PUBLIC__/css/engine.css"  rel="stylesheet" />

	<script type="text/javascript" src="__PUBLIC__/js/mtopt-3.0-min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.3.min.js" ></script>
	<script type="text/javascript">
        $.browser = $.browser || {};
        $.browser.msie = false;
        $(document).on("mobileinit", function () {
            $.support.cors = true;
            $.mobile.allowCrossDomainPages = true;
            $.mobile.pushStateEnabled = false;
            $.mobile.defaultPageTransition = "slidefade";
            $.mobile.pageLoadErrorMessage = "页面加载出错";
            $.mobile.loader.prototype.options.theme = "c";
            $.mobile.buttonMarkup.hoverDelay = "false";
        });
	</script>
	<style type="text/css">
		body{background:#BDE3FA;}
		.container{padding-top:2em;}
		.form-title{font-size:2.7em;text-align:center;height:110px;margin-top:120px;}
		.form-title img{width:200px;}
		.form-control{margin-bottom:1.8em;height:2.8em;}
	</style>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.mobile.custom.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/js/engine.js" ></script>
</head>
<body>
<!--标题样式-->
<div class="mn-content ui-page ui-page-theme-a ui-page-active" data-role="page" data-url="/User/User/basicedit" data-external-page="true" tabindex="0" style="">
    <style type="text/css">
        .pg-form input,
        .pg-form select{margin-bottom:1em;margin-top:1em;}
    </style>

<div class="pg-form"> 
    <iframe name=myiframe width=0 height=0 scrolling="no"></iframe>
    <label class="control-label">头像</label>
    <if condition="$userinfo['headimgurl'] neq ''">
        <img id="mypic" src="{$user_info.headimgurl}" alt="头像"  width="100" height="100"/>
        <else />
        <img id="mypic" src="__PUBLIC__/images/userhead.jpg" alt="头像"  width="100" height="100"/>
    </if>

    <form name="form" method="post" enctype="multipart/form-data"  target="myiframe" data-ajax="false" action="/User/User/api_basicface_submit">
    <label class="control-label">选择头像</label>
      <input accept="image/*" id="file" type="file" class="form-control" name="file" />
      <button id="btn_enter" type="submit" class="btn btn-danger btn-block">上传</button>               
     </form>
    <br />
    <input id="headimgurl_" type="hidden" class="form-control"   value="{$user_info.headimgurl}">
    <label class="control-label">真实姓名</label>
    <input id="username_" type="text" class="form-control" placeholder="真实姓名" value="{$user_info.truename}">
    <label class="control-label">身份证</label>
    <input id="idcard_" type="text" class="form-control" placeholder="身份证" value="{$user_info.idcard}">
    <label class="control-label">开户银行</label>
    <select id="bankid_" class="form-control"></select>
    <label class="control-label">开户卡号</label>
    <input id="bankno_" type="text" class="form-control" placeholder="开户卡号" value="{$user_info.bankno}">
    <label class="control-label">开户地址</label>
    <input id="bankname_" type="text" class="form-control" placeholder="开户地址" value="{$user_info.bankname}">
    <label class="control-label">开户姓名</label>
    <input id="bankuser_" type="text" class="form-control" placeholder="开户姓名" value="{$user_info.bankuser}">
    <label class="control-label">手机</label>
    <input id="moblie_" type="text" class="form-control" placeholder="手机" value="{$user_info.moblie}">
    <label class="control-label">邮箱</label>
    <input id="email_" type="text" class="form-control" placeholder="邮箱" value="{$user_info.email}">
    <label class="control-label">邮编</label>
    <input id="zipcode_" type="text" class="form-control" placeholder="邮编" value="{$user_info.zipcode}">
    <label class="control-label">地址</label>
    <input id="address_" type="text" class="form-control" placeholder="地址" value="{$user_info.address}">
    <label class="control-label">省</label>
    <select id="country_" class="form-control"></select>
    <label class="control-label">市</label>
    <select id="province_" class="form-control"></select>
    <label class="control-label">区/县</label>
    <select id="county_" class="form-control"></select>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a id="btn_enter_" data-transition="pop" class="btn btn-default btn-danger">保存</a>
        </div>
        <div class="btn-group" role="group">
            <a href="/User/User/main" class="btn btn-default">返回</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pck = {
        title: "编辑资料",
        //设置地址
        setplace: function (selt, root, callback) {
            if (root < 0) { return; }
            engine.ajax.place(root, function (json) {
                selt.html("");
                selt.append("<option value=''>请选择</option>");
                for (var i in json) {
                    selt.append("<option value='" + json[i].id + "'>" + json[i].name + "</option>");
                }
                //是否调用回调
                if (callback) { callback(); }
            });
        },
        submit: function () {
            var username = m.node("#username_").value();
            var idcard = m.node("#idcard_").value();
            var bankid = m.node("#bankid_").value();
            var bankno = m.node("#bankno_").value();
            var bankuser = m.node("#bankuser_").value();
            var bankname = m.node("#bankname_").value();
            var moblie = m.node("#moblie_").value();
            var email = m.node("#email_").value();
            var zipcode = m.node("#zipcode_").value();
            var address = m.node("#address_").value();
            var province = m.node("#country_").value();
            var city = m.node("#province_").value();
            var place = m.node("#county_").value();
            var headimgurl = m.node("#headimgurl_").value();
            //非空判断
            if (username.length <= 0) {
                engine.news("请输入真实姓名", 1800);
                return;
            }
            if (idcard.length <= 0) {
                engine.news("请输入身份证", 1800);
                return;
            }
            if (bankid == null || bankid.length <= 0) {
                engine.news("请选择开户银行", 1800);
                return;
            }
            if (bankno.length <= 0) {
                engine.news("请输入开户卡号", 1800);
                return;
            }
            if (bankuser.length <= 0) {
                engine.news("请输入开户姓名", 1800);
                return;
            }
            if (bankname.length <= 0) {
                engine.news("请输入开户地址", 1800);
                return;
            }
            if (moblie.length <= 0) {
                engine.news("请输入手机", 1800);
                return;
            }
            if (email.length <= 0) {
                engine.news("请输入邮箱", 1800);
                return;
            }
            if (place == null || place.length <= 0) {
                engine.news("请选择地区", 1800);
                return;
            }
            var place = (place == -1) ? m.node("#province_").value() : place;
            engine.news("正在提交...", 999999);
            //发送请求
            var ajax = m.ajax("/User/User/api_basicedit_submit", null, function (jso) {
                var jso = m.json.getObject(jso);
                switch (jso.Error) {
                    case 0:
                        engine.news("修改成功", 3000, true);
                        break;
                    case -10002:
                        engine.news("修改失败", 1800);
                        break;
                    default:
                        engine.news(jso.Data, 2000);
                        break;
                }
            });
            ajax.data.add("username", ResChinese(username));
            ajax.data.add("idcard", idcard);
            ajax.data.add("bankid", bankid);
            ajax.data.add("bankno", bankno);
            ajax.data.add("bankuser", ResChinese(bankuser));
            ajax.data.add("bankname", ResChinese(bankname));
            ajax.data.add("moblie", moblie);
            ajax.data.add("email", email);
            ajax.data.add("zipcode", zipcode);
            ajax.data.add("address", ResChinese(address));
            ajax.data.add("province", province);
            ajax.data.add("city", city);
            ajax.data.add("place", place);
            ajax.data.add("headimgurl", headimgurl);
            ajax.send();
        },
        init: function () { }
    }
    pck.init();
    $(function () {
        //获取银行
        engine.ajax.bank(0, function (json) {
            var selt = m.node("#bankid_");
            selt.html("");
            for (var i in json) {
                selt.append("<option value='" + json[i].id + "'>" + json[i].name + "</option>");
            }
            //获取地区
            engine.ajax.place('001', function (json) {
                var lt = m.node("#country_");
                lt.on("change", function () {
                    pck.setplace(m.node("#province_"), m.node("#country_").value());
                });
                var ltpv = m.node("#province_");
                ltpv.on("change", function () {
                    pck.setplace(m.node("#county_"), m.node("#province_").value());
                });
                //填充初始数据
                lt.append("<option value=''>请选择</option>");
                for (var i in json) {
                    lt.append("<option value='" + json[i].id + "'>" + json[i].name + "</option>");
                }
                //设置默认值
                m.node("#bankid_").value("<?php echo $bankid; ?>");
                lt.value("<?php echo $province; ?>");
                pck.setplace(ltpv, "<?php echo $province; ?>", function () {
                    ltpv.value("<?php echo $city; ?>");
                });
                pck.setplace(m.node("#county_"), "<?php echo $city; ?>", function () {
                    m.node("#county_").value("<?php echo $place; ?>");
                });
            });
        });
        m.node("#btn_enter_").click(pck.submit);
    });
    function ResChinese(obj)
    {
       return encodeURI(obj);
    }
</script>
</div>
</body>
</html>