<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover" style="font-size: 14px;">
			<thead>
			<tr>
				<td>序号</td>
				<td>相关编号</td>
				<td>编号</td>
				<td>总金额</td>
				<td>提现</td>
				<td>积分</td>
				<!--<td>爱心基金</td>
				<td>税收</td>-->
				<td>类型</td>
				<td>详情</td>
				<td>时间</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
<php>
$jtype = array(
	'1'=>'层奖',
	'2'=>'量奖',
	'3'=>'领导奖',
	'4'=>'互助奖',
	'5'=>'分享奖',
	'6'=>'见点奖',
	'7'=>'区域管理奖',
	'8'=>'推荐奖',
);
</php>

			<volist name="info" id="vv" key="kk" >
				<tr class="pg-deal-list">
					<td class="time">{$kk}</td>
					<td class="time">{$vv.yuser_name}</td>
					<td class="name">{$vv.user_name}</td>
					<td class="state">{$vv.fee}</td>
					<td class="name">{$vv.tx}</td>
					<td class="name">{$vv.jf}</td>
					<!--<td class="name">{$vv.ax}</td>
					<td class="name">{$vv.sh}</td>-->
					<td class="money">
                   			{$jtype[$vv['type']]}</td>
					<td class="money">{$vv.desc}</td>
					<td class="money">{$vv.bdate}</td>
					<td class="opera"><a href="{:U('Deal/main_detail',array('record'=>$vv['id']))}" target="main-frame">查看详情</a></td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
	<center>
		<ul class="pagination" style="margin:0px;">
			{$page}
		</ul>
	</center>
</div>
