<link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/iosOverlay.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/simple-line-icons.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/engine.css" rel="stylesheet" />
<style>
	body{
		background-image:url('__PUBLIC__/images/max.jpg');
		background-repeat:no-repeat;background-attachment:fixed;
		background-size:cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='__PUBLIC__/images/max.jpg',sizingMethod='scale');}
</style>

<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mtopt-3.0-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/spin.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/iosOverlay.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/engine.js"></script>
<section>
	<div class="content-wrapper">

		<h3>
			{$withdraw_info['user_name']} 提现审核
		</h3>
		<a href="#" onclick="history.back(-1)"><button class="btn btn-success btn-sm savecode">返回</button></a>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr >
							<td class="td-title col-sm-2 ">编号：</td>
							<td>{$withdraw_info.user_name}</td>
						</tr>
						
						<tr >
							<td class="td-title col-sm-2 ">手机号：</td>
							<td>{$user.moblie}</td>
						</tr>
						<tr>
							<td class="td-title">开户名：</td>
							<td>{$withdraw_info.bankuser}</td>
						</tr>
						
							<tr>
							<td class="td-title">开户银行：</td>
							<td>
							  {$bank.name}
							</td>
						</tr>
							<tr>
							<td class="td-title">卡号：</td>
							<td>{$withdraw_info.bankno}</td>
						</tr>
							
						<tr>
							<td class="td-title">开户地址：</td>
							<td>{$withdraw_info.bankname}</td>
						</tr>
						
						<tr>
							<td class="td-title">提现金额：</td>
							<td>{$withdraw_info.money}</td>
						</tr>
						<tr>
							<td class="td-title">手续费：</td>
							<td>{$withdraw_info.poundage}</td>
						</tr>
						<tr>
							<td class="td-title">实际到账：</td>
							<td>{$withdraw_info.arrival}</td>
						</tr>
						<tr>
							<td class="td-title">申请时间：</td>
							<td>{$withdraw_info.createtime|date='Y-m-d H:i:s',###}</td>
						</tr>

						<tr>
							<td class="td-title">状态：</td>
							<td>
								<select id="status" class="form-control">
								<option value="0" <if condition="($withdraw_info.status eq 0)"> selected</if>>待审核</option>
								<option value="1" <if condition="($withdraw_info.status eq 1)"> selected</if>>审核通过</option>
								<option value="2" <if condition="($withdraw_info.status eq 2)"> selected</if>>审核失败</option>
							</select></td>
						</tr>
						<if condition="($withdraw_info.handletime neq 0) ">
						<tr>
							<td class="td-title">审核时间：</td>
							<td>{$withdraw_info.handletime|date='Y-m-d H:i:s',###}</td>
						</tr>
						</if>
						<tr>
							<td>
								<br />
								<div class="col-sm-4 col-sm-offset-2">
								    <input type="hidden" id="id" name="id" value="{$withdraw_info.id}">
									<button id="btn_enter" class="btn btn-primary" type="button">立即提交</button>
								</div>
							</td>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        var pck = {
            submit: function () {
            	var id = m.node("#id").value();
                var status = m.node("#status").value();
                if (status == null || status.length <= 0) {
                    engine.news("请选择状态", 3000);
                    return;
                }
                engine.news("正在提交...", 99999, true);
                var ajax = m.ajax("{:U('Admin/Deal/api_check_submit')}", null, function (jso) {
                    var jso = m.json.getObject(jso);
                    switch (jso.Error) {
                        case 0:
                            engine.news("审核成功", 3000);
                            m.reload();
                            break;
                        case -10002:
                            engine.news("审核失败", 3000);
                            break;
                        default:
                            engine.news(jso.Data, 3000);
                            break;
                    }
                });
                ajax.data.add("id", id);
                ajax.data.add("status", status);
                ajax.send();
            },
            init: function () { }
        }
        pck.init();
        $(function () {
            m.node("#btn_enter").click(pck.submit);
        });
	</script>
</section>
