<link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/iosOverlay.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/simple-line-icons.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/engine.css" rel="stylesheet" />
<style>
	body{
		background-image:url('__PUBLIC__/images/max.jpg');
		background-repeat:no-repeat;background-attachment:fixed;
		background-size:cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='__PUBLIC__/images/max.jpg',sizingMethod='scale');}
</style>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mtopt-3.0-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/engine.js"></script>
<section>
	<div class="content-wrapper">
		<h3>
			{$user_name} 升级记录
		</h3>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<td>序号</td>
							<td>原等级</td>
							<td>新等级</td>
							<td>升级日期</td>
						</tr>
						</thead>
						<tbody>
						<volist name="info" id="vv" key="kk">
						<tr class="form-item">
							<td>{$kk}</td>
							<td>{$vv.name}</td>
							<td>{$vv.newname}</td>
							<td>{$vv.upgradetime|date="Y-m-d H:i:s",###}</td>
						</tr>
						</volist>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<center>
			<ul class="pagination" style="margin:0px;">
				{$page}
			</ul>
		</center>

		<!--隐藏域开始-->
		<input type="hidden" class="HD_PAGE" value="0" />
		<input type="hidden" class="HD_SIZE" value="20" />
		<input type="hidden" class="HD_COUNT" value="3" />
		<!--隐藏域结束-->
		<script type="text/javascript">
            var pck = {
                page: 0,
                size: 0,
                count: 0,
                //加载页面
                init: function () {
                    this.page = mtopt.parse.toInteger(m.node(".HD_PAGE").value());
                    this.size = mtopt.parse.toInteger(m.node(".HD_SIZE").value());
                    this.count = mtopt.parse.toInteger(m.node(".HD_COUNT").value());
                }
            }
            pck.init();
		</script>
	</div>
</section>