  <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/iosOverlay.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/simple-line-icons.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/animate.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet" />
<link href="__PUBLIC__/admin/css/engine.css" rel="stylesheet" />
<style>
	body{
		background-image:url('__PUBLIC__/images/max.jpg');
		background-repeat:no-repeat;background-attachment:fixed;
		background-size:cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='__PUBLIC__/images/max.jpg',sizingMethod='scale');}
</style>

<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mtopt-3.0-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/engine.js"></script>
<section>
<div class="content-wrapper">
                
<h3>
    基础信息
</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="td-title"  width="12%">我的头像：</td>
                        <td>
                            <img alt="" src="/service/cms.ashx?key=0AFB980B6C14EDF87648CE3BC996B31C&amp;sign=MmxzYWJDWU13bjRJdDlDU1o0Q0dhdz09&amp;reduce=150" style="width:99px;height:99px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td-title">真实姓名：</td>
                        <td>总部</td>
                    </tr>
                    <tr>
                        <td class="td-title">身份证：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">开户银行：</td>
                        <td>工商银行</td>
                    </tr>
                    <tr>
                        <td class="td-title">开户卡号：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">开户地址：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">开户姓名：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">手机：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">邮箱：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">邮编：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">地址：</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td class="td-title">所属安置位置：</td>
                        <td>A区</td>
                    </tr>
                    <tr>
                        <td class="td-title">成员等级：</td>
                        <td>会员1</td>
                    </tr>
                    <tr>
                        <td class="td-title">推荐人：</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="td-title">安置人：</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td class="td-title">代理中心：</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="td-title">创建时间：</td>
                        <td>2016/01/01</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
            </div>
        </section>
